---
title: "GeoCoLab"
layout: splash
permalink: /
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/jakob-owens-5sn6O-jZPcE-unsplash2.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Matching access to analytical facilities with underserved researchers"
intro: 
  - excerpt: 'GeoCoLab will aim to evidence and address the hypothesis that access to analytical facilities by underserved researchers is a key issue that leads to a deep inequality in environmental research and determines who is able to generate environmental and geoscience knowledge'
feature_row:
  - image_path: assets/images/marvin-meyer-SYTO3xs06fU-unsplash2.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 1"
    title: "About Us"
    excerpt: "About the team"
    url: "/about/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/ousa-chea-gKUC4TMhOiY-unsplash2.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Analytical Facilities"
    excerpt: "If you are an analytical facility who are interested in partnering with GeoCoLab, you can find more information here."
    url: "/analytical-facilities/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/michael-d-beckwith-6fivCAFK31k-unsplash2.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    title: "Researchers"
    excerpt: "If you are a geoscience researcher and would like to participate in our survey"
    url: "https://docs.google.com/forms/d/e/1FAIpQLSe-Xxh9NvlCZrBcBnLDJ8yWjl9BpFSHv_TEPQuGeOLCdf9L6w/viewform"
    btn_label: "Take Survey"
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<p>We are participating in the <a href="https://www.ukri.org/opportunity/digital-technologies-to-open-up-environmental-sciences/">NERC Digital Technologies Digital Sprint</a>. During the hackathon we will survey and collect testimonies from researchers in the UK and Global South on barriers to accessing laboratory facilities and the impact this has on their research. We will investigate how the Global North dominates the generation of geoscience knowledge, in particular geochemical knowledge, through analysis of research that contributes to the <a href="https://search.earthchem.org/">PetDB database</a>. We will investigate the country of origin of the lead author and co-authors vs the country of origin of materials/location studied. Furthermore, we will seek to explore the link between the generation of this knowledge and the access to laboratory facilities.</p>
<br>
<p>Our proposed solution is an online collaborative platform, GeoCoLab, that would link underserved researchers with laboratory facilities who have agreed to offer a quota of pro bono services. The app would match researcher need and facility anonymously, initially protecting both parties and will facilitate ethical collaboration agreements. We are building a proto-platform during the hackathon and a network of facilities who have agreed in principle to participate.</p>
<br>
<p>If you would like to feedback on GeoCoLab or our survey, please <a href="mailto:GeoCoLab.App@gmail.com">Email us</a>.</p>
